{% extends "base.html "%}

{% block body %}
    <div class="p-5 mb-4 mt-4 bg-body-tertiary rounded-3 text-center">
        <div class="container-fluid py-4">
            <h1 class="display-5 fw-bold mb-4">About Us</h1>
            <p class="fs-4">MircoPub is an experimental app developed by <a href="https://twitter.com/tobechiohaeri" target="_blank">Ohaeri Tobechi</a> using Python, Flask and MySQL. Follow him on <a href="https://twitter.com/tobechiohaeri" target="_blank">Twitter</a> to learn more.</p>
        </div> 
    </div> 
{% endblock %}