<!DOCTYPE html>
<html>
    <head>
        <title>MyCRUD App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container">
            {% include "includes/_messages.html" %}
            {% block body %}
            {% endblock %}
        </div>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>